<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" >

    <!--<bean id="intefaseService" class="com.hecm.mystudent.interfase.two.IntefaseServiceImpl">
        <property name="intefaseDao" ref="intefaseDao"></property>
    </bean>-->

    <bean id="beanScope" class="com.hecm.mystudent.interfase.three.BeanScope" scope="singleton">
    </bean>


</beans>